<a [routerLink]="['/mobiles', mobile.id]" href="#">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top" src="{{ mobile.avatar }}" style="height: 225px; width: 100%; display: block;" (error)="placeholder()" #avatarImage>
    <div class="card-body">
      <h5 class="card-title text-truncate" style="color: #000;" data-toggle="tooltip" data-placement="top" title="{{ mobile.name }}">
        {{ mobile.name }}
      </h5>
      <ul style="list-style: none; padding: 0; margin: 0;">
        <li> ₹{{ mobile.price }} </li>
        <li> {{ mobile.ram }} GB RAM </li>
        <li> {{ mobile.screen_size }} inch Display </li>
        <li> {{ mobile.primary_camera }} Rear Camera </li>
        <li> {{ mobile.battery }} mAh Battery </li>
      </ul>
    </div>
  </div>
</a>