<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "pacman"
></ngx-spinner>

<div class="row" *ngIf="mobiles.length !== 0">
  <div class="col-sm-3">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <a class="btn btn-raised btn-sm btn-danger clear-filter upcase" *ngIf="getFilters().length !== 0" (click)="removeAllFilters()">
          clear all <span aria-hidden="true">×</span>
        </a>
        <h6 class="card-title">Filters</h6>
        
        <input name="search" class="form-control" type="search" placeholder="Search" aria-label="Search" [value]="searchText" (blur)="onSearchTextFieldBlur($event)">

        <a class="btn btn-raised btn-sm btn-danger filters" *ngFor="let filter of getFilters()" (click)="removeFilter(filter)">
          <span aria-hidden="true">×</span> {{ mobileService.humanize(filter) }}
        </a>
      </div>
    </div>
    <app-filters style="width: 100%;" *ngFor="let aggregation of aggregations" [aggregation]="aggregation"></app-filters>
    <app-filter-modal></app-filter-modal>
  </div>
  <div class="col-sm-9">
    <p class="font-weight-bold"> {{ mobileListInfo() }} </p>

    <ul class="nav nav-tabs bg-primary">
      <li class="nav-item" *ngFor="let sorting_tab of sorting_tabs">
        <a class="nav-link" 
          (click)="onTabClick(sorting_tab.sort_by)"
          [ngClass]="{'active': isTabActive(sorting_tab.sort_by)}">{{ sorting_tab.name }}</a>
      </li>
    </ul>
    
    <div class="pagination-container clearfix" style="margin: 24px 0;">
      <a class="btn btn-raised btn-sm btn-info upcase pagination float-right" *ngIf="isNextPageAvailable()" (click)="loadPageFor(this.pagination.next_page)">
        Next
      </a>

      <a class="btn btn-raised btn-sm btn-info upcase pagination float-right" *ngIf="isPreviousPageAvailable()" (click)="loadPageFor(this.pagination.current_page - 1)">
        Previous
      </a>
    </div>

    <div class="row">
      <div class="col-sm-12" *ngFor="let mobileItem of mobiles">
        <app-mobile-item [mobile]="mobileItem"></app-mobile-item>
      </div>
    </div>

    <div class="pagination-container clearfix" style="margin-bottom: 24px;">
      <a class="btn btn-raised btn-sm btn-info upcase pagination" *ngIf="isPreviousPageAvailable()" (click)="loadPageFor(this.pagination.current_page - 1)">
        Previous
      </a>

      <a class="btn btn-raised btn-sm btn-info upcase pagination" *ngIf="isNextPageAvailable()" (click)="loadPageFor(this.pagination.next_page)">
        Next
      </a>
    </div>
  </div>
</div>

<div class="row" *ngIf="apiCompleted && mobiles.length === 0">
  <div class="col-sm-12">
    <div>
      <img src="/src/assets/img/no-record-found.png" style="margin: 20px auto; display: block;">
    </div>
    <div *ngIf="suggestions">
      <p style="text-align: center;">
        Go with following suggestions.
        <a class="btn btn-raised btn-sm btn-info suggestion" *ngFor="let suggestion of suggestions" (click)="onClickOfSuggestion(suggestion)">{{ suggestion }}</a>
      </p>
      <p style="text-align: center;">OR</p>
    </div>
    <button class="upcase" style="margin: 20px auto; display: block;" class="btn btn-raised btn-primary" (click)="removeAllFilters()">Reset all filters</button>
  </div>
</div>
