a.filters {
    cursor: pointer;
    display: block;
}

input + a.filters {
    margin-top: 20px;
}

.nav-tabs .nav-item {
    cursor: pointer;
}

a.suggestion {
    margin-right: .25rem;
}

.pagination-container {
    width: 100%;
}

.pagination {
    padding: .10625rem .5rem !important;
    display: inherit;
    margin-bottom: 0;
    float: left;
}

.pagination + .pagination {
    margin-left: .25rem;
}

.pagination + .pagination.float-right {
    margin-right: .25rem;
}

.float-right {
    float: right;
}