a.filters {
    cursor: pointer;
    display: block;
}

input + a.filters {
    margin-top: 20px;
}

.nav-tabs .nav-item {
    cursor: pointer;
}

a.suggestion {
    margin-right: .25rem;
}

.load-more {
    float: none !important;
    margin-bottom: 20px;
}

.load-more + .load-more {
    margin-left: .25rem;
}

.float-right {
    float: right;
}