/* You can add global styles to this file, and also import other style files */

body {
    background-color: #d9edee;
}

.upcase {
    text-transform: uppercase;
}

/* .mb-4 {
    margin: 0 !important;
    border-bottom: 1px solid lightgrey !important;
} */

.checkbox.custom-checkbox label {
    font-size: .875rem;
}

.clear-filter {
    float: right;
    margin-top: -7px;
    padding: .10625rem .5rem !important;
}