<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Angular, Rails, Searchkick Example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <a routerLink="/mobiles" href="#" class="btn btn-raised btn-primary my-2">Mobiles</a>
    </p>
  </div>
</section>

<!-- <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
    <p class="lead mb-0"><a routerLink="/mobiles" href="#" class="text-white font-weight-bold"> Mobiles </a></p>
  </div>
</div> -->